<!DOCTYPE html>
<html>
  <head>
    <title>Bookshop</title>
    <%= javascript_pack_tag 'bookshop/index' %>
    <%= stylesheet_pack_tag 'bookshop/assets/stylesheets/app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
